.region-footer {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 60%;
  display: grid;
  grid-template-columns: 13vw 13vw 12vw 22vw;
  .block-menu {
    color: #fff;
    font-size: 0.4em;
    .menu {
      margin: 0;
      .menu-item {
        a {
          font-size: 1.55em;
          margin-left: 0.5vw;
          color: #b2b2b2;
          text-decoration: none;
        }
      }
    }
  }
}

#menu--about-us-menu {
  column-span: all;
  line-height: 3.9vw;
  margin-top: 2px;
  margin-right: 1.5vw;
  font-size: 0.8em;
  grid-column: 1 / 4;
  .menu {
    margin: 0;
    .menu-item {
      display: inline;
      padding: 0 1.5em .2em 1.5em;
      list-style-image: none;
      background: transparent url("../../images/marker.jpg") no-repeat 0px 0px;
      a {
        font-size: 1em;
        text-decoration: none;
        text-transform: uppercase;
        color: #bebebe;
        font-weight: 600;
        font-family: Geneva, Arial, Helvetica, sans-serif;
      }
    }
  }
}


.menu--social {
  margin-top: 2em;
  margin-right: 1.5vw;
  width: max-content;
  margin-bottom: 3vh;
  grid-column: 4 / 5;
  grid-row: 1;
  .menu {
    margin: 0;
    li {
      display: inline;
      a {
        margin-right: .8em;
        text-indent: -9999px;
        color: #dad;
        width: 26px;
        height: 26px;
        float: left;
        background-image: url("../../images/sprite.png");
        }
      }
    li:first-child {
      a {
        background-position: 0px 0px;
      }
    }
    li:nth-child(2) {
      a {
            background-position: -36px 0px;
      }
    }
    li:nth-child(3) {
      a {
          background-position: -70px 0px;
      }
    }
    li:nth-child(4) {
      a {
        background-position: -100px 0px;
      }
    }
    li:nth-child(5) {
      a {
        background-position: -136px 0px;
      }
    }

    li:nth-child(6) {
      a {
        background-position: -170px 0px;
      }
    }
  }
}

#block-metasonic-metasonicag {
  grid-column: 4;
  grid-row: 2;
  padding-bottom: 2vh;
  border-bottom: 1px solid #b2b2b2;
  h2 {
    color: #fff;
    font-size: .7em;
  }
  p {
    color: #b2b2b2;
    margin-top: 0;
    font-size: .7em;
    margin: .1vw;
  }
}

.block-custom-form-in-block {
  grid-column: 4;
  grid-row: 3;
  padding-top: 1vh;
  h2 {
    color: #fff;
    font-size: .7em;
  }
  .form-item-your-name {
    float: left;
    margin-top: -5px;
    margin-bottom: 0;
    input {
      padding: 5px 0 5px 10px;
      border-radius: 5px;
      width: 15vw;
      font-size: 0.7em;
    }
  }
  .form-actions {
    input {
      margin-left: 0.5vw;
      height: 2.5em;
      width: 6.5vw;
      margin-top: -5px;
      background-color: #343434;
      color: #fff;
      font-size: 0.7em;
      line-height: 1.25em;
      border-radius: 5px;
      border: 1px solid #aaa6;
    }
  }
}




.menu--produkte-services {
  grid-column: 1;
}

.menu--produkte-services-1 {
  grid-column: 1;
  margin-top: -4.5vh;

}

.menu--produkte-services-2 {
  grid-column: 1;
  margin-top: -7.5vh;
}

.menu--produkte-services-3 {
  grid-column: 1;
}

.menu--downloads {
  grid-column: 2;
  grid-row: 2;
}

.menu--downloads-1 {
  grid-column: 2;
  grid-row: 3;
  margin-top: -4.5vh;
}

.menu--downloads-2 {
  grid-column: 2;
  grid-row: 4;
  margin-top: -5.5vh;
}

.menu--downloads-3 {
  grid-column: 2;
  grid-row: 5;
  margin-top: -6.5vh;
}

.menu--partner {
  grid-column: 3;
  grid-row: 2;
  border-right: 1px solid #b2b2b2;
  margin-right: 1vw;
}

.menu--kunden {
  grid-column: 3;
  grid-row: 3;
  margin-top: -8vh;
  border-right: 1px solid #b2b2b2;
  margin-right: 1vw;
}

.menu--unternehmen {
  grid-column: 3;
  grid-row: 4;
  margin-top: -8vh;
  border-right: 1px solid #b2b2b2;
  margin-right: 1vw;
}

.menu--unternehmen-1 {
  grid-column: 3;
  grid-row: 5;
  margin-top: 1vh;
  margin-right: 1vw;
  menu {
  border-right: 1px solid #b2b2b2;
  }
}
