
header{
  margin: 0 auto;
}

.region-header{
  width: 60.5%;
  margin-left: 20vw;

  display: flow-root;
}


#block-metasonic-logotip{
  line-height: 6vw;
  width: 10%;
  float: left;
  margin-right: 1%;
}

#block-metasonic-main-menu{
  width: 100%;
  margin-top: 7%;

  .menu{
    height: 2vw;
    display: flex;
    background-color: #000;
    margin: 0;

    li{
      text-align:center ;
      flex-basis: auto;
      flex-grow: 1;
      display: inline-block;

      a {
        font-size: 0.9em;
        text-decoration: none;
        //line-height: 29px;
        color:#fff;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

#block-metasonic-search{
  line-height: 4vw;
  float: right;
  //border-radius: 4px;
  #edit-keys{
    font-size: 12px;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #969696;
    padding: 3px;
    background-color: #fff;
    width: 5vw;
    margin-right: -10px;
  }
  #edit-keys:focus {
    background: #E8E8E8;
    color: #333;
    outline: 0;
    outline-offset: 0;
  }

  #edit-submit{
    margin-top: 1px;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #969696;
    padding: 2px;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    background-color: #969696;
    width: 1.5vw;


  }
}

#block-metasonic-languagedropdownswitcher{
  line-height: 4vw;
  float: right;
  margin-right: 1.5vw;

  select{
    background: linear-gradient(to right, #fff 80%, #969696 20%);
  }
  .lang-dropdown-select-element{
    width: 100px;
    font-size: 12px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #969696;
    padding: 2.7px;
    background-color: #fff;
  }
  .lang-dropdown-select-element:focus{
    background: #E8E8E8;
    color: #333;
    outline: 0;
    outline-offset: 0;
  }
}

#block-metasonic-useraccountmenu{           // авторизация
  float: right;
  line-height: 3.9vw;
  margin-top: 2px;
  margin-right: 1.5vw;
  .menu{
    margin: 0;
    .menu-item{
      display: inline;

      a{
        word-spacing: -4px;
        text-decoration: none;
        text-transform: uppercase;
        color: #969696;
        font-weight: 600;
        font-family: Geneva, Arial, Helvetica, sans-serif;
      }
    }
  }
}