/* Vendors */
@import "~normalize.css";

/* Sprites */
@import "./sprites/main";

/* Setup */
@import "./settings/main";

/* Mixins */
@import "./utilities/mixins";

/* Base styles */
@import "./base/elements";

/* Layout */
@import "./layout/main";

/* Objects */
@import "./objects/typography";
@import "./objects/buttons";
@import "./objects/header";
@import "./objects/footer";
@import "./objects/nav";

/* Components */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
@font-face{
  font-family: 'BiminiNormal';
  src: url('../fonts/BiminiNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
